*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.btn i {
  margin-left: 15px;
}
.btn-web {
  background: #926FB1;
  color: #fff;
  margin-top: 2rem;
}
.btn-about {
  background: #fff;
  color: #333645;
  padding: 0.7rem 1rem;
  font-size: 1.125rem;
}

.btn-service-bespoke {
  background: #67809F;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
}
.service:hover .btn-service-bespoke {
  color: #67809F;
  background: #fff;
}

.btn-service-support {
  background: #4183D7;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
}
.service:hover .btn-service-support {
  color: #4183D7;
  background: #fff;
}

.btn-service-marketing {
  background: #2ECC71;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
}
.service:hover .btn-service-marketing {
  color: #2ECC71;
  background: #fff;
}

.btn-service-telecoms {
  background: #D64541;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
}
.service:hover .btn-service-telecoms {
  color: #D64541;
  background: #fff;
}

.btn-service-web {
  background: #926FB1;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
}
.service:hover .btn-service-web {
  color: #926FB1;
  background: #fff;
}

.btn-service-security {
  background: #F62459;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
}
.service:hover .btn-service-security {
  color: #F62459;
  background: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

.container {
  margin: 0 15px;
}

header {
  min-height: 10.5rem;
  padding: 20px 15px;
}

header .header-container,
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-search input {
  min-width: 100%;
  padding: 1em;
  font-size: 0.875em;
  margin-top: 15px;
}

nav {
  height: 6.25rem;
  background: #333645;
  display: none;
}

.search,
.buttons {
  display: none;
}

i {
  display: inline-block;
}
i.fa-phone-volume {
  transform: rotate(-45deg);
  font-size: 2rem;
  margin-left: 15px;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #333645;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.25rem 1rem;
  margin-left: 15px;
  text-transform: uppercase;
  border-radius: 3px;
}
.menu i {
  font-size: 2rem;
}

.banner {
  color: #fff;
  min-height: 400px;
  height: calc(100vh - 10.5rem);
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black;
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
}
.banner h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.banner p {
  font-size: 1.25rem;
  line-height: 1.7;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen\0  {
  .banner img {
    display: none;
  }
}
@media screen\0  {
  .banner {
    background: url("../img/web-bg.jpg");
    -webkit-background-size: cover;
    background-position: center center;
    background-size: cover;
  }
}

.btn-web {
  background: #926FB1;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
.btn-web i {
  margin-left: 15px;
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  padding: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service {
  width: 100%;
  margin: 15px 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  color: #333645;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
.service a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333645;
}
.service span {
  display: inline-block;
}
.service .icon {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.875rem;
  background: #333645;
  font-size: 1.1rem;
}
.service .heading {
  font-size: 1.125rem;
  margin: 1rem;
  position: relative;
}
.service .heading::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 28px;
  bottom: -15px;
  right: calc(50% - 14px);
  background: #333645;
}
.service .text {
  font-size: 0.8125rem;
  line-height: 1.8;
  margin-top: 10px;
  color: #333645;
  width: 100%;
}
.service .button {
  width: auto;
}
.service#s-bespoke .icon {
  background: #67809F;
}
.service#s-bespoke:hover {
  background: #67809F;
}
.service#s-bespoke:hover .text, .service#s-bespoke:hover .heading {
  color: #fff;
}
.service#s-bespoke:hover .icon, .service#s-bespoke:hover .heading::after {
  background: #fff;
  color: #67809F;
}
.service#s-support .icon {
  background: #4183D7;
}
.service#s-support:hover {
  background: #4183D7;
}
.service#s-support:hover .text, .service#s-support:hover .heading {
  color: #fff;
}
.service#s-support:hover .icon, .service#s-support:hover .heading::after {
  background: #fff;
  color: #4183D7;
}
.service#s-marketing .icon {
  background: #2ECC71;
}
.service#s-marketing:hover {
  background: #2ECC71;
}
.service#s-marketing:hover .text, .service#s-marketing:hover .heading {
  color: #fff;
}
.service#s-marketing:hover .icon, .service#s-marketing:hover .heading::after {
  background: #fff;
  color: #2ECC71;
}
.service#s-telecoms .icon {
  background: #D64541;
}
.service#s-telecoms:hover {
  background: #D64541;
}
.service#s-telecoms:hover .text, .service#s-telecoms:hover .heading {
  color: #fff;
}
.service#s-telecoms:hover .icon, .service#s-telecoms:hover .heading::after {
  background: #fff;
  color: #D64541;
}
.service#s-web .icon {
  background: #926FB1;
}
.service#s-web:hover {
  background: #926FB1;
}
.service#s-web:hover .text, .service#s-web:hover .heading {
  color: #fff;
}
.service#s-web:hover .icon, .service#s-web:hover .heading::after {
  background: #fff;
  color: #926FB1;
}
.service#s-security .icon {
  background: #F62459;
}
.service#s-security:hover {
  background: #F62459;
}
.service#s-security:hover .text, .service#s-security:hover .heading {
  color: #fff;
}
.service#s-security:hover .icon, .service#s-security:hover .heading::after {
  background: #fff;
  color: #F62459;
}
.service#s-developer .icon {
  background: #926FB1;
}
.service#s-developer:hover {
  background: #926FB1;
}
.service#s-developer:hover .text, .service#s-developer:hover .heading {
  color: #fff;
}
.service#s-developer:hover .icon, .service#s-developer:hover .heading::after {
  background: #fff;
  color: #926FB1;
}

.about {
  background-color: #333645;
  color: #fff;
  padding: 2rem 0;
  line-height: 2;
}
.about .container {
  padding-right: 1.125rem;
}
.about h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}
.about .lead {
  font-weight: 600;
}
.about p {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
