@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text]:focus-visible {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.hidden-xs {
  display: block;
}
@media screen and (max-width: 768px) {
  .hidden-xs {
    display: none;
  }
}

.hidden-sm {
  display: block;
}
@media screen and (min-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

.btn {
  border-radius: 4px;
  text-transform: uppercase;
}
.btn i {
  margin-left: 15px;
}

.btn-web {
  background: #926FB1;
  color: #fff;
  padding: 1rem 1rem;
  font-size: 1.25rem;
  margin-top: 2rem;
}
.btn-web:hover {
  background: #79539A;
}
.btn-about {
  background: #fff;
  color: #333645;
  padding: 0.7rem 1rem;
  font-size: 1.125rem;
}
.btn-about:hover {
  background: #ebebeb;
}

.btn-article-b {
  background: #4183D7;
  color: #fff;
  padding: 0.6rem 1rem;
  font-size: 1.125rem;
  margin-top: 0.5rem;
}
.btn-article-b:hover {
  background: #286ABD;
}

.btn-article-g {
  background: #2ECC71;
  color: #fff;
  padding: 0.6rem 1rem;
  font-size: 1.125rem;
}
.btn-article-g:hover {
  background: #24A25A;
}

.btn-signup {
  background: #333645;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 1rem;
}
.btn-signup:hover {
  background: #22242e;
}

.btn-service-bespoke {
  background: #67809F;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .btn-service-bespoke {
    margin-top: auto;
  }
}
.card:hover .btn-service-bespoke {
  color: #67809F;
  background: #fff;
}

.btn-service-support {
  background: #4183D7;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .btn-service-support {
    margin-top: auto;
  }
}
.card:hover .btn-service-support {
  color: #4183D7;
  background: #fff;
}

.btn-service-marketing {
  background: #2ECC71;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .btn-service-marketing {
    margin-top: auto;
  }
}
.card:hover .btn-service-marketing {
  color: #2ECC71;
  background: #fff;
}

.btn-service-telecoms {
  background: #D64541;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .btn-service-telecoms {
    margin-top: auto;
  }
}
.card:hover .btn-service-telecoms {
  color: #D64541;
  background: #fff;
}

.btn-service-web {
  background: #926FB1;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .btn-service-web {
    margin-top: auto;
  }
}
.card:hover .btn-service-web {
  color: #926FB1;
  background: #fff;
}

.btn-service-security {
  background: #F62459;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 768px) {
  .btn-service-security {
    margin-top: auto;
  }
}
.card:hover .btn-service-security {
  color: #F62459;
  background: #fff;
}

a.btn-menu {
  color: #fff;
  background: #333645;
  font-size: 0.75rem;
  padding: 0.25rem 0.9rem;
  margin-left: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  height: 3.5rem;
}
a.btn-menu:hover {
  background: #262834;
}
a.btn-menu .btn-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}
a.btn-menu .menu-bars {
  position: absolute;
  top: 15px;
  background: #fff;
  height: 3px;
  width: 2.9em;
}
a.btn-menu .menu-bars::after {
  content: "";
  position: absolute;
  top: -8px;
  height: 3px;
  width: 2.9em;
  background: #fff;
}
a.btn-menu .menu-bars::before {
  content: "";
  position: absolute;
  top: 8px;
  height: 3px;
  width: 2.9em;
  background: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

header {
  min-height: 10.5rem;
  padding: 15px 15px 0 15px;
}
@media screen and (min-width: 768px) {
  header {
    min-height: 6.875rem;
  }
}

header .header-container,
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-search {
  position: relative;
  margin-bottom: 11px;
}
.mobile-search input {
  min-width: 100%;
  padding: 1em;
  font-size: 0.875em;
  margin-top: 11px;
  background: #ebebeb;
  border: 2px solid #ddd;
  outline: 1px solid #ddd;
  position: relative;
}
.mobile-search .search-icon {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  font-size: 1.3rem;
  position: absolute;
  top: 23px;
  right: 12px;
}
@media screen and (-ms-high-contrast: active) {
  .mobile-search .search-icon {
    border: 2px solid currentcolor;
  }
}
@media screen and (min-width: 768px) {
  .mobile-search {
    display: none;
  }
}

nav {
  height: 6.25rem;
  background: #333645;
  display: none;
}

.search,
.buttons {
  display: none;
}

@media screen and (min-width: 768px) {
  .search {
    display: flex;
    margin-right: 4.3rem;
  }
  .search input {
    min-width: 100%;
    padding: 0.5rem;
    font-size: 0.875em;
    background: transparent;
    border: 1px solid #ddd;
    height: 3.5rem;
  }
  .search button {
    border: #999aa2;
    background: #999aa2;
    height: 3.5rem;
    margin-right: -3.5rem;
    color: #fff;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 1.5rem;
    padding: 0 1.15rem;
  }
}

i {
  display: inline-block;
}
i.fa-phone-volume {
  font-size: 2rem;
  margin-left: 15px;
}

.fa-rotate-45 {
  transform: rotate(-45deg);
}

.phone a {
  color: #333645;
  position: relative;
}
@media screen and (min-width: 768px) {
  .phone a {
    display: none;
  }
}
.phone a:hover::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 2em;
  background: #333645;
  bottom: -4px;
  left: 10px;
}

.banner {
  color: #fff;
  min-height: 400px;
  height: calc(100vh - 10.5rem);
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .banner {
    height: calc(100vh - 6.875rem);
  }
}
.banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: black;
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
}
.banner h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.3em;
}
.banner p {
  font-size: 1.25rem;
  line-height: 1.7;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media screen\0  {
  .banner img {
    display: none;
  }
}
@media screen\0  {
  .banner {
    background: url("../img/web-bg.jpg");
    -webkit-background-size: cover;
    background-position: center center;
    background-size: cover;
  }
}

.btn-web {
  background: #926FB1;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
.btn-web i {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.7rem;
  padding: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.125rem 1.125rem 0.9rem 1.125rem;
}

.card {
  width: 100%;
  margin: 15px 0;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  color: #333645;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .card-sm {
    width: 47.9%;
    display: flex;
    flex-direction: column;
  }
}
.card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333645;
  height: 100%;
}
.card span {
  display: inline-block;
}
.card .icon {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.875rem;
  background: #333645;
  font-size: 1.1rem;
}
.card .heading {
  font-size: 1.125rem;
  margin: 1rem;
  position: relative;
}
.card .heading::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 28px;
  bottom: -15px;
  right: calc(50% - 14px);
  background: #333645;
}
.card .text {
  font-size: 0.8125rem;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 1rem;
  color: #333645;
  width: 100%;
  padding: 0em 1.4em;
}
.card .button {
  width: auto;
}
.card#s-bespoke .icon {
  background: #67809F;
}
.card#s-bespoke:hover {
  background: #67809F;
}
.card#s-bespoke:hover .text, .card#s-bespoke:hover .heading {
  color: #fff;
}
.card#s-bespoke:hover .icon, .card#s-bespoke:hover .heading::after {
  background: #fff;
  color: #67809F;
}
.card#s-support .icon {
  background: #4183D7;
}
.card#s-support:hover {
  background: #4183D7;
}
.card#s-support:hover .text, .card#s-support:hover .heading {
  color: #fff;
}
.card#s-support:hover .icon, .card#s-support:hover .heading::after {
  background: #fff;
  color: #4183D7;
}
.card#s-marketing .icon {
  background: #2ECC71;
}
.card#s-marketing:hover {
  background: #2ECC71;
}
.card#s-marketing:hover .text, .card#s-marketing:hover .heading {
  color: #fff;
}
.card#s-marketing:hover .icon, .card#s-marketing:hover .heading::after {
  background: #fff;
  color: #2ECC71;
}
.card#s-telecoms .icon {
  background: #D64541;
}
.card#s-telecoms:hover {
  background: #D64541;
}
.card#s-telecoms:hover .text, .card#s-telecoms:hover .heading {
  color: #fff;
}
.card#s-telecoms:hover .icon, .card#s-telecoms:hover .heading::after {
  background: #fff;
  color: #D64541;
}
.card#s-web .icon {
  background: #926FB1;
}
.card#s-web:hover {
  background: #926FB1;
}
.card#s-web:hover .text, .card#s-web:hover .heading {
  color: #fff;
}
.card#s-web:hover .icon, .card#s-web:hover .heading::after {
  background: #fff;
  color: #926FB1;
}
.card#s-security .icon {
  background: #F62459;
}
.card#s-security:hover {
  background: #F62459;
}
.card#s-security:hover .text, .card#s-security:hover .heading {
  color: #fff;
}
.card#s-security:hover .icon, .card#s-security:hover .heading::after {
  background: #fff;
  color: #F62459;
}
.card#s-developer .icon {
  background: #926FB1;
}
.card#s-developer:hover {
  background: #926FB1;
}
.card#s-developer:hover .text, .card#s-developer:hover .heading {
  color: #fff;
}
.card#s-developer:hover .icon, .card#s-developer:hover .heading::after {
  background: #fff;
  color: #926FB1;
}

.about {
  background-color: #333645;
  color: #fff;
  padding: 2rem 0;
  line-height: 2;
}
.about .container {
  padding-right: 1.125rem;
}
.about h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}
.about .lead {
  font-weight: 600;
}
.about p {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .latest-news {
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  }
}

.latest-news > .bar {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.bar .latest {
  padding: 40px 0;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}
.bar .latest::after {
  content: "";
  height: 5px;
  background: #333645;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.articles {
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .articles {
    display: flex;
    justify-content: space-between;
  }
}

article {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  article {
    width: 47.9%;
  }
}
article .tag {
  text-transform: uppercase;
  font-size: 0.75rem;
  position: absolute;
  top: 0.6rem;
  right: 0;
  padding: 0.133rem 0.7rem;
  font-weight: 600;
}
article .tag a {
  color: #fff;
}
article .tag a:hover {
  text-decoration: underline;
}
article .tag-b {
  background: #4183D7;
}
article .tag-g {
  background: #2ECC71;
}
article img {
  width: 100%;
  height: auto;
}
article img a {
  display: block;
}
article .card-container {
  padding: 0 27px 0 30px;
}
article .article-body, article .meta {
  padding: 1.125rem 0;
}
article .article-link-b {
  color: #4183D7;
  font-weight: 600;
  display: inline-block;
  min-height: 3.3rem;
}
article .article-link-b:hover {
  text-decoration: underline;
}
article .article-link-g {
  color: #2ECC71;
  font-weight: 600;
  display: inline-block;
  min-height: 3.3rem;
}
article .article-link-g:hover {
  text-decoration: underline;
}
article .body-text {
  font-size: 0.8125rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
article .meta {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
}
article .info {
  margin-left: 1rem;
  font-size: 0.875rem;
}

.logo {
  margin-top: 10px;
}

.clients {
  padding: 3.125rem 0;
}
.clients .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients a {
  padding: 0 1.125rem;
}
.clients img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.signup {
  background: #ddd;
  margin-top: 3rem;
  color: #333645;
}
@media screen and (min-width: 768px) {
  .signup {
    margin-top: 0;
  }
}
.signup .content {
  padding: 2rem 1.8rem;
}
.signup .content h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.signup .input-group {
  display: flex;
  flex-direction: column;
}
.signup label.required {
  font-weight: 600;
  line-height: 1.9;
}
.signup label.required::after {
  content: "*";
  color: #d24d57;
}
.signup input[type=text] {
  padding: 0.3125rem 0.9375rem;
  height: 3rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}
.signup input[type=text]:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08), 0 0 8px rgba(91, 192, 222, 0.6);
}

.subscribe {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.label > label {
  cursor: pointer;
  font-weight: 600;
  line-height: 2;
}

.check-holder {
  display: flex;
}
.check-holder .check {
  flex-grow: 0;
  flex-shrink: 0;
  height: 2em;
  width: 2em;
  border: 3px solid #333645;
  display: block;
  border-radius: 3px;
  margin-right: 1.25em;
  position: relative;
}
.check-holder input {
  display: none;
}
.check-holder input:checked + .check {
  background: #333645;
}
.check-holder input:checked + .check::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  color: #fff;
  position: absolute;
  left: 5px;
  top: -2px;
}
.check-holder .text a {
  text-decoration: underline;
}

footer {
  background: #333645;
  color: #fff;
  padding-top: 1.8rem;
}
footer .row {
  display: flex;
  justify-content: space-between;
}
footer .services, footer .offices {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  footer .services, footer .offices {
    justify-content: space-evenly;
  }
}
footer .service, footer .office {
  width: 225px;
  margin-bottom: 1.5rem;
}
footer .service h3, footer .office h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
footer .service ul, footer .office ul {
  list-style: none;
  font-size: 0.8125rem;
  line-height: 1.8;
}
footer .service a, footer .office a {
  color: #fff;
  font-size: 0.8125rem;
}
footer .service a:hover, footer .office a:hover {
  text-decoration: underline;
}
footer .service .office, footer .office .office {
  margin-bottom: 1.5rem;
}
footer .tel {
  margin-top: 1rem;
  font-size: 0.8125rem;
}
footer .bottom {
  margin-top: 1rem;
  border-top: 1px solid #888;
  font-size: 0.8125rem;
  padding-top: 1rem;
  padding-bottom: 2.4rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .copyright {
  display: flex;
}
footer .copyright span {
  margin: 0 0.5rem;
}
footer .copyright a {
  color: #fff;
  margin-right: 3px;
}
footer .socials {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.9rem;
  margin-top: -8px;
}
footer .socials a {
  color: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: relative;
}
footer .socials a:hover#fb {
  background: #3b5998;
}
footer .socials a:hover#twitter {
  background: #00aced;
}
footer .socials a:hover#insta {
  background: #d93175;
}
footer .socials a:hover#linkd {
  background: #0077b5;
}
footer .socials i {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 7px 8px 8px;
}

.accreditations {
  padding: 3.125rem 0;
}
.accreditations .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accreditations .item {
  padding: 0 1.125rem;
}
.accreditations .item img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.row + .row {
  margin-top: 1.125rem;
}

.test {
  height: 25vh;
}

/*# sourceMappingURL=styles.css.map */
