.banner {
  color: $white;
  min-height: 400px;
  height: calc(100vh - 10.5rem);
  margin: 0;
  padding: 0;
  width:100%;
  object-fit: cover;
  position: relative;
  border-top: 1px solid rgba(51,54,69,.5);
  @include mq(sm) {
    height: calc(100vh - 6.875rem);
  }
  @include mq(md) {
    height: calc(100vh - 13.0625rem);
  }
  .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    @include mq(md) {
      align-items: start;
      text-align: left;
      padding: 0 1.75rem;
    }
  }
  h1 {
    text-transform: uppercase;
    font-size: 3rem ;
    font-weight: 400;
    margin-bottom: 0.3em;
  }
  p{
    font-size: 1.25rem;
    line-height: 1.7;
    margin-bottom: 3rem;
  }
  img {
    height: 100%;
    width:100%;
    object-fit: cover;
    @media screen\0 {
      display: none;
    }
  }


}
//bg images for slider in IE
@include bgimg(web, '../img/slider/web-bg.jpg');
@include bgimg(support, '../img/slider/slider-support.jpg');
@include bgimg(telecoms, '../img/slider/slider-telecoms.jpg');
@include bgimg(bespoke, '../img/slider/slider-bespoke.jpg');
@include bgimg(marketing, '../img/slider/slider-marketing.jpg');
@include bgimg(security, '../img/slider/slider-security.jpg');

.btn-web {
  background: $web-300;
  color: $white;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 2rem;

  i{
    margin-left: 15px;
  }
}