

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.7rem;
  //padding: 15px;
}

.card-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.125rem 1.125rem 0.9rem 1.125rem;
}
.card {
  flex-basis: 100%;
  margin: 15px 0;
  border: 1px solid $grey-300;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  color: $grey-700;
  box-shadow: 0 3px 35px rgba(0,0,0,.1);
  @include mq(sm) {
   &-sm{
     flex-basis: 48%;
     display: flex;
     flex-direction: column;
   }
 }
  @include mq(md) {
    &-xs {
      flex-basis: 31%;
    }
  }
  @include mq(lg) {
    &-sm {
      flex-basis: 23%;
    }
    &-xs {
      flex-basis: 31.5%;
    }
  }


  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $grey-700;
    height: 100%;
  }
  span {
    display: inline-block;
  }
  .icon {
    height: 60px;
    width: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.875rem;
    background: $grey-700;
    font-size: 1.1rem;
  }
  .heading {
    font-size: 1.125rem;
    margin: 1rem;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 28px;
      bottom: -15px;
      right: calc(50% - 14px);
      background: $grey-700;
    }
  }
  .text {
    font-size: 0.8125rem;
    line-height: 1.8;
    margin-top: 10px;
    margin-bottom: 1rem;
    color: $grey-700;
    width: 100%;
    padding: 0em 1.4em;
  }
  .button {
    width: auto;
  }
  @mixin card-($service) {
    .icon {
      background: #{$service};

    }
    &:hover {
      background: #{$service};
      .text, .heading {
        color: $white;
      }
      .icon, .heading::after  {
        background: $white;
        color: #{$service};
      }
    }
  }

  &#s-bespoke {
  @include card-($bespoke-300)
  }
  &#s-support {
    @include card-($support-300)
  }
  &#s-marketing {
    @include card-($marketing-300)
  }
  &#s-telecoms {
    @include card-($telecoms-300)
  }
  &#s-web {
    @include card-($web-300)
  }
  &#s-security {
    @include card-($security-300)
  }
  &#s-developer {
    @include card-($web-300)
  }
  //&#s-support {
  //  .icon {
  //    background: $support-300;
  //
  //  }
  //  &:hover {
  //    background: $support-300;
  //    .text, .heading, {
  //      color: $white;
  //    }
  //    .icon, .heading::after  {
  //      background: $white;
  //      color: $support-300;
  //    }
  //  }
  //}
  //&#s-marketing {
  //  .icon {
  //    background: $marketing-300;
  //
  //  }
  //  &:hover {
  //    background: $marketing-300;
  //    .text, .heading, {
  //      color: $white;
  //    }
  //    .icon, .heading::after  {
  //      background: $white;
  //      color: $marketing-300;
  //    }
  //  }
  //}
  //&#s-telecoms {
  //  .icon {
  //    background:$telecoms-300;
  //
  //  }
  //  &:hover {
  //    background:$telecoms-300;
  //    .text, .heading, {
  //      color: $white;
  //    }
  //    .icon, .heading::after  {
  //      background: $white;
  //      color:$telecoms-300;
  //    }
  //  }
  //}
  //&#s-web {
  //  .icon {
  //    background: $web-300;
  //
  //  }
  //  &:hover {
  //    background: $web-300;
  //    .text, .heading, {
  //      color: $white;
  //    }
  //    .icon, .heading::after  {
  //      background: $white;
  //      color: $web-300;
  //    }
  //  }
  //}
  //&#s-security {
  //  .icon {
  //    background: $security-300;
  //
  //  }
  //  &:hover {
  //    background: $security-300;
  //    .text, .heading, {
  //      color: $white;
  //    }
  //    .icon, .heading::after  {
  //      background: $white;
  //      color: $security-300;
  //    }
  //  }
  //}
  //&#s-developer {
  //  .icon {
  //    background: $web-300;
  //
  //  }
  //  &:hover {
  //    background: $web-300;
  //    .text, .heading, {
  //      color: $white;
  //    }
  //    .icon, .heading::after  {
  //      background: $white;
  //      color: $web-300;
  //    }
  //  }
  //}
}