.breadcrumbs {
    background: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .10);
    padding: 14px 0 13px;
    margin-top: 11.5rem;
 ul {
     list-style: none;
     font-size: 0.8125rem;
 }
 li {
     display: inline-block;
   &:first-child {
       font-weight: bold;
   }
   &:nth-child(2)::before {
       content: '/';
       padding: 0 5px;
   }  
 }
}
.contact-offices{
    h1 {
      padding-top: 50px;
      font-size: 2.25rem;
      font-weight: normal;
      color: #333645;
    }
    h2 {
        font-weight: normal;
        font-size: 1.125rem;
        margin-bottom: 15px;
    }
    .address {
        font-size: 0.8125rem;
        margin-bottom: 15px;
        line-height: 1.375rem;
    }
    .tel{ 
        margin-bottom: 15px;
        & a {
            color: $web-300;
            font-size: 1.625rem;
            font-weight: 700;
            margin-bottom: 15px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


.locations {
    display: flex;
    flex-wrap: wrap;
    color: #333645;
   
    justify-content: space-between;
    margin-top: 1.25rem;
    margin-bottom: 1.7rem;
}
.location {
    flex-basis: 31.5%;
    border:  1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0  3px 35px rgba(0, 0, 0, 0.10);
    .content {
        padding: 15px 30px 30px 30px;
    }
}
.map
{
    margin-top: 15px;
    min-height: 300px;
}