body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  overflow-x: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  @include mq(sm) {
    width: 750px;
  }
  @include mq(md) {
    width: 950px;
  }
  @include mq(lg) {
    width: 1200px;
  }
}

header {
  min-height: 10.5rem;
  padding: 15px 15px 0 15px;

  @include mq(md) {
    padding-top: 0;
  }
  .logo {
    margin-right: 1.5rem;
  }
  @include mq(sm) {
    min-height: 6.375rem;
    .header-container {
      width: 725px;
      margin: auto;
    }
  }
  @include mq(md) {
    .header-container {
      width: 950px;
      min-height: 5.775rem;
      margin: 9px auto;
    }
  }
  @include mq(lg) {
    .header-container{
    width: 1200px;
    }
  }
}

header .header-container,
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-search {
  position: relative;
  margin-bottom: 11px;

  input {
    min-width: 100%;
    padding: 1em;
    font-size: 0.875em;
    margin-top: 11px;
    background: $grey-100;
    border: 2px solid $grey-200;
    outline: 1px solid $grey-200;
    position: relative;

  }

  .search-icon {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    top: 23px;
    right: 12px;

    @media screen and (-ms-high-contrast: active) {
      border: 2px solid currentcolor;
    }
  }

  @include mq(sm) {
    display: none;
  }
}


.search,
.buttons {
  display: none;
  }

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &  .btn{
    margin-right: 1.4rem;
  }
}
.search {

  @include mq(sm) {
    display: flex;
    margin-right: 4.3rem;
    input {
      min-width: 10.75rem;
      padding: 0.5rem;
      font-size: 0.875em;
      background: transparent;
      border: 1px solid $grey-200;
      height: 3.5rem;
      &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
      }
      //margin-left: 1.5rem;
      @include mq(md) {
        display: none;
      }
      @include mq(lg) {
        display: flex;
        min-width: 15.75rem;
      }
    }
    button {
      border: $grey-500;
      background: $grey-500;
      height: 3.5rem;
      margin-right: -3.5rem;
      color: $white;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      font-size: 1.5rem;
      padding: 0 1.15rem;
      cursor: pointer;
      &:hover {
        background: $secondary-btn-dark;
      }
      @include mq(md) {
        border-radius: 3px;

      }
      @include mq(lg) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  ;
  }
}

i {
  display: inline-block;

  &.fa-phone-volume {
    //transform: rotate(-45deg);
    font-size: 2rem;
    margin-left: 15px
  }
}

.fa-rotate-45 {
  transform: rotate(-45deg);
}

.phone a {
  color: $grey-700;
  position: relative;
  @include mq(sm) {
    display: none;
  }

  &:hover::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 2em;
    background: $grey-700;
    bottom: -4px;
    left: 10px;
  }


}
