$navbar-colours: (
        '1': $web-300,
        '2': $support-300,
        '3': $telecoms-300,
        '4': $bespoke-300,
        '5': $marketing-300,
        '6': $security-300,
);

.side-nav {
  //display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 275px;
  z-index: 1000;
  background: $grey-700;
  overflow-y: auto;
  color: $white;
  @include mq(md) {
    width: 333px;
  }

  .sidenav-container {
    padding: 0 20px 20px 20px ;
    min-height: 200px;
    height: 100%;
    width: 100%;
  }

  .upper {
    @include mq(md) {
      display: none;
    }
    .contact {
      border: 1px solid hsla(0, 0%, 100%, 0.1);
      outline: 1px solid rgba(0, 0, 0, 0.25);
      padding: 20px;
      margin: 20px 0;
      border-radius: 3px;
      height: 64px;
      text-align: center;
      color: $white;

      &:hover {
        background: lighten($grey-700, 5%);
      }
    }

    @for $i from 1 through 6 { //creates the services panels
      .panel-#{$i} {
        height: 112px;
        border: 1px solid hsla(0, 0%, 100%, 0.1);
        outline: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
        margin-bottom: 20px;
        padding-top: 20px;
      }
      p {
        margin-bottom: 0;
      }
      p:nth-child(2) {
        font-size: 0.625rem;
      }
    }
    @each $navbar-colour, $color in $navbar-colours { //colours the icons in each panel
      .panel-#{$navbar-colour} {
        p:nth-child(1) {
          color: $color;
        }
      }
    }
  }

  .sector {
    &:hover {
      @for $i from 1 through 6 {
        .panel-#{$i} {
          background-color: lighten($grey-700, 5%);
        }
      }
    }
  }

  .mobile-nav-items {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 3px;

    ul {
      list-style: none;
      padding: 0;
      font-size: 1rem;
      color: $white;
    }

    a {
      color: $white;
    }

    li {
      background-color: rgba(0, 0, 0, 0.25);
      padding: 10px;

      &:not(:first-child) {
        border-top: 1px solid hsla(0, 0%, 100%, 0.05);
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      }
    }
  }
  .lower {
    padding: 0;
    margin: 0;
    .category {
      &:hover {
        .title {
          background-color: lighten($grey-700, 5%);
        }
      }
    }
    .title {
      border-top: 1px solid hsla(0, 0%, 100%, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      padding: 15px 20px;
      font-size: 16px;
      margin: 0 -20px;
    }
    ul {
      margin: 0 -20px;
      list-style: none;
      padding: 0;
      font-size: 1rem;
      color: $white;
    }

    a {
      color: $white;
      padding:15px 20px;
      display:block;
    }
    li {
      background-color: rgba(0, 0, 0, 0.25);
      border-top: 1px solid hsla(0, 0%, 100%, 0.05);
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      font-size: 0.875rem;
    }
    ul li a::before {
      content: "\00BB \0020";
      padding-right: 15px;

    }
  }
}

