.accreditations {
  padding: 3.125rem 0;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    padding: 0 1.125rem;
    &:hover > img.bw {
      display: none;
    }
    &:hover > img.coloured {
      display: block !important;
    }
    img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
}
.accreditations .row + .row {
  margin-top: 2.5rem;
}