//set the box sizing of all elements to border-box
//remove all default margin and padding from all elemnts
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus-visible {
  outline:none;
}
//
img {
  max-width: 100%;
  height: auto;
}

//remove the underline and colouring from links

a {
  text-decoration:none;
  color: #000;
}
.hidden-xs {
  display: block;
  @media screen and (max-width: 768px){
    display: none;
  }
}
.hidden-sm {
  display: block;
  @media screen and (min-width: 768px){
    display: none;
  }
}
.hidden-md {
  display: block;
  @media screen and (max-width: 990px){
    display: none;
  }
}

.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
.visible-lg {
  @include mq(lg){
  display: block !important;
  }
}


