.btn {
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.25rem;
  text-transform: uppercase;

  i{
    margin-left: 15px;
  }
  &-web {
    background: $web-300;
    color: $white;
    margin-top: 2rem;
  }
  &-service-bespoke {
    background: $bespoke-300;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.1rem;

  }
  &-service-support {
    background: $support-300;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.1rem;

  }
  &-service-marketing {
    background: $marketing-300;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.1rem;

  }
  &-service-telecoms {
    background: $telecoms-300;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.1rem;

  }
  &-service-security {
       background: $security-300;
       color: $white;
       margin-top: 1rem;
       margin-bottom: 1rem;
       padding-top: 0.6rem;
       padding-bottom: 0.6rem;
       font-size: 1.1rem;

     }
  &-service-web {
    background: $web-300;
    color: $white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: 1.1rem;

  }
}