
.btn {
  border-radius: 4px;
  text-transform: uppercase;

  i {
    margin-left: 15px;
  }
}

@mixin button($selector, $color, $bg, $hover, $py, $px, $fs) {

  &-#{$selector} {
    background: $bg;
    color: $color;
    padding: $py $px;
    font-size: $fs;
    @content;

    &:hover {
      background: $hover;
    }

  }
}

.btn {
  @include button(web, $white, $web-300, $web-600, 1rem, 1rem, 1.25rem) {
    margin-top: 2rem;

  }
  @include button(about, $grey-700, $white, $grey-100, 0.7rem, 1rem, 1.125rem);
}

.btn {
  @include button(article-b, $white, $support-300, $support-600, 0.6rem, 1rem, 1.125rem){
    margin-top: 0.5rem;
  };
}

.btn {
  @include button(article-g, $white, $marketing-300, $marketing-600, 0.6rem, 1rem, 1.125rem);
}

.btn {
  @include button(signup, $white, $grey-700, $grey-950, 0.7rem, 1rem, 1rem);
}
.btn {
  @include button(primary, $white, $primary-btn, $primary-btn-dark, 0.925rem, 1rem, 1.125rem) {
    & i {
      margin-right: 0.65rem;
      margin-left: 0 !important;
    }
  };
}
.btn {
  @include button(secondary, $white, $secondary-btn, $secondary-btn-dark, 0.925rem, 1rem, 1.125rem){
    & i {
      margin-right: 0.65rem;
      margin-left: 0 !important;
    }
  };
}


@mixin btn-service($service) {
  background: $service;
  color: $white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  @media screen and (min-width: 768px) {
    margin-top: auto;
  }
  @at-root .card:hover & {
    color: $service;
    background: $white;
  }
}

.btn-service-bespoke {
  @include btn-service($bespoke-300)
}

.btn-service-support {
  @include btn-service($support-300)
}

.btn-service-marketing {
  @include btn-service($marketing-300)
}

.btn-service-telecoms {
  @include btn-service($telecoms-300)
}

.btn-service-web {
  @include btn-service($web-300)
}

.btn-service-security {
  @include btn-service($security-300)
}


a.btn-menu {
  color: $white;


  background: $grey-700;
  font-size: 0.75rem;
  padding: 0.25rem 0.9rem;
  margin-left: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  height: 3.5rem;
  @media screen and  (min-width: 768px){
    margin-left: 0.5rem;
  }
  &:hover {
    background: $grey-800;
  }

  .btn-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
  }

  .menu-bars {
    position: absolute;
    top: 15px;
    background: $white;
    height: 3px;
    width: 2.9em;

    &::after {
      content: '';
      position: absolute;
      top: -8px;
      height: 3px;
      width: 2.9em;
      background: $white;
    }

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      height: 3px;
      width: 2.9em;
      background: $white;
    }
  }


}
