$white: #fff;

$primary-btn: #4183d7;
$primary-btn-dark: #2a6ec6;
$secondary-btn: #999aa2;
$secondary-btn: #797a85;

$grey-100: #ebebeb;
$grey-200: #ddd;
$grey-300: #ccc;
$grey-500: #999aa2;
$grey-700: #333645;
$grey-800: #262834;
$grey-900: #191a22;
$grey-950: #22242e;

$web-300:#926FB1;
$web-600:#79539A;

$support-300:#4183D7;
$support-600:#286ABD;

$telecoms-300:#D64541;
$telecoms-600:#BC2C28;

$bespoke-300:#67809F;
$bespoke-600:#526781;

$marketing-300:#2ECC71;
$marketing-600:#24A25A;

$security-300:#F62459;
$security-600:#DE0F3F;




