footer {
  background: $grey-700;
  color: $white;
  padding-top: 1.8rem;
 .grid {
   @include mq(lg) {
     display: flex;
   }
 }
  &.row {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }

  .services, .offices {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    @include mq(sm) {
      justify-content: space-evenly;
    }
    @include mq(lg) {
      justify-content: normal;
    }
  }

  .service, .office {
    width: 225px;
    margin-bottom: 1.5rem;

    h3 {
      font-weight: 400;
      text-transform: uppercase;
      font-size: 1rem;
      margin-bottom: 1.5rem;


    }

    ul {
      list-style: none;
      font-size: 0.8125rem;
      line-height: 1.8;

    }

    a {
      color: $white;
      font-size: 0.8125rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .office {
      margin-bottom: 1.5rem;
    }

  }

  .tel {
    margin-top: 1rem;
    font-size: 0.8125rem;
  }
  .bottom {
    margin-top: 1rem;
    border-top: 1px solid #888;
    font-size: 0.8125rem;
    padding-top: 1rem;
    padding-bottom: 2.4rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .copyright{
    display: flex;
    span{
      margin: 0 0.5rem;
    }
    a {
      color: $white;
      margin-right: 3px;
    }
  }
  .socials {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.9rem;
    margin-top: -8px;
    a{
      color: $white;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      position: relative;
      &:hover#fb{
        background: #3b5998;
      }
      &:hover#twitter{
        background: #00aced;
      }
      &:hover#insta{
        background: #d93175;
      }
      &:hover#linkd{
        background: #0077b5;
      }

    }
    i {
      position: absolute;
      top: 4px;
      left: 4px;
      padding: 7px 8px 8px
    }

  }
}