.latest-news > .container {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.bar {

  .latest {
    padding: 40px 0;
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &::after {
      content: '';
      height: 5px;
      background: $grey-700;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
.articles{
  margin-top: 3.125rem;
}
article {
  border: 1px solid $grey-300;
  width: 100%;

  .article-body, .meta {
    padding: 1.125rem 1.9375rem;
  }
}