.latest-news > .container {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.bar {

  .latest {
    padding: 40px 0;
    position: relative;
    display: inline-block;
    text-transform: uppercase;

    &::after {
      content: '';
      height: 5px;
      background: $grey-700;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
.articles{
  margin-top: 3.125rem;
}
article {
  border: 1px solid $grey-300;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 3px 35px rgba(0,0,0,.1);
  .tag{
    text-transform: uppercase;
    font-size: 0.75rem;
    position: absolute;
    top: 0.6rem;
    right: 0;
    padding: 0.133rem 0.7rem;
    font-weight: 600;
    a{
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
    &-b{
      background: $support-300;
    }
    &-g{
      background: $marketing-300;
    }
  }
  img {
    width: 100%;
    height: auto;
    a{
      display: block;
    }
  }
  .container{
   padding: 0 27px 0 30px;

  }
  .article-body, .meta {
    padding: 1.125rem 0 ;
  }
 .article-link-b {
   color: $support-300;
   font-weight: 600;
   display: inline-block;
   &:hover {
     text-decoration: underline;
   }
 }
  .article-link-g {
    color: $marketing-300;
    font-weight: 600;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
  .body-text {
    font-size: 0.8125rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  .meta {
    border-top: 1px solid $grey-300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
  }
  .info {
    margin-left: 1rem;
    font-size: 0.875rem;
  }
}
.logo {
  margin-top: 10px;
}
