body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
}
.container {
  margin: 0 15px ;
}
header {
  min-height: 10.5rem;
  padding: 20px 15px;
}
header .header-container,
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-search input {
  min-width: 100%;
  padding: 1em;
  font-size: 0.875em;
  margin-top: 15px;
}

nav {
  height: 6.25rem;
  background: $grey-700;
  display: none;
}

.search,
.buttons {
  display: none;
}

i {
  display: inline-block;

  &.fa-phone-volume {
    transform: rotate(-45deg);
    font-size: 2rem;
    margin-left: 15px
  }
}
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $grey-700;
  color: $white;
  font-size: 0.7rem;
  padding:  0.25rem 1rem;
  margin-left: 15px;
  text-transform: uppercase;
  border-radius: 3px;
  i {
    font-size: 2rem;
  }

}