@mixin button($selector, $color, $bg, $hover, $py, $px, $fs) {

  &-#{$selector} {
    background: $bg;
    color: $color;
    padding: $py $px;
    font-size: $fs;
    @content;

    &:hover {
      background: $hover;
    }

  }
}
// map of breakpoint values
$breakpoints: (
        sm: 768px,
        md: 992px,
        lg: 1260px
);

@mixin mq($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {
    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    // Write the media query.
    @media screen and  (min-width: $breakpoint-value) {
      @content;
    }
    // If the breakpoint doesn't exist in the map.
  } @else {
    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

//set the colours for the service cards and service cards on hover
@mixin btn-service($service) {
  background: $service;
  color: $white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1.1rem;
  @include mq(sm) {
    margin-top: auto;
  }
  @at-root .card:hover & {
    color: $service;
    background: $white;
  }
}
// set hover state colours for main nav
@mixin mainnav($colour) {
  i {
    color: $colour;
  }
  &:hover {
    background: $colour;
    i {
      color: $white;
    }
  }
}

// set the background colour of the sub nav, ::before and ::after elements
@mixin subnav($color) {
  background: $color;
  &:hover{
    background: $color;
  }
  &::before,
  &::after {
    background-color: $color;
  }
}