
nav {
  height: 6.25rem;
  background: $grey-700;
  margin-left: -15px;
  margin-right: -15px;

  .sub-menu {
    display: none;
  }

  .menu {
    display: flex;
    list-style: none;
    position: relative;
    align-items: center;
    justify-content: center;
    border-left: 1px solid hsla(0, 0%, 100%, .1);
    border-right: 1px solid rgba(0, 0, 0, .25);


    & > li {
      flex: 1;
      border-right: 1px solid hsla(0, 0%, 100%, .1);
      border-left: 1px solid rgba(0, 0, 0, .25);

      &:hover .sub-menu {
        display: flex;
      }
    }

    & > li a {
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1.12rem 0 1.125rem;
      text-transform: uppercase;
      font-size: 1.125rem;
      line-height: 1;
      position: relative;

      small {
        font-size: 0.625rem;
        margin-top: 0.8125rem;
        padding-bottom: 2px;
      }
    }

    .web {
      @include mainnav($web-300)
    }

    .support {
      @include mainnav($support-300)
    }

    .telecoms {
      @include mainnav($telecoms-300)
    }

    .bespoke {
      @include mainnav($bespoke-300)
    }

    .marketing {
      @include mainnav($marketing-300)
    }

    .security {
      @include mainnav($security-300)
    }

  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 1;
    // Extend sub nav bg 1000px will ensure it fills the space
    &::before,
    &::after {
      content: '';
      width: 2000px;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    // Extend sub nav bg left
    &::before {
      right: 100%;
    }

    // Extend sub nav bg right
    &::after {
      left: 100%;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
      // add left padding to all but the first item
      &:not(:first-child) {
        padding-left: 1.125rem;
      }

      // add a ' - ' character after every item except the last
      &:not(:last-child) a::after {
        content: '-';
        padding-left: 1.5rem;
      }

      a {
        display: block;
        margin: 0;
        padding: 1rem 0 1rem;
        font-size: 0.8125rem;
        justify-content: left;
        @include mq(lg) {
          font-size: 1rem;
        }
      }
    }

    &.web {
      @include subnav($web-600)
    }

    &.support {
      @include subnav($support-600)
    }

    &.telecoms {
      @include subnav($telecoms-600)
    }

    &.bespoke {
      @include subnav($bespoke-600)
    }

    &.marketing {
      @include subnav($marketing-600)
    }

    &.security {
      @include subnav($security-600)
    }

  }


}